#instruction{
    position: absolute;
    top: 110px;
    left: 50px;
    font-family: Arial;
    font-size: 18px;
    width: 300px;
}


#timer{
  position: absolute;
  top: 100px;
  left: 900px;
  background-color: #f8f8f8;
  padding: 10px;
  border: solid;
  font-size: 20px;
}

#timer-label{
  position: absolute;
  top: 75px;
  left: 900px;
  color: red;
  font-size: 15px;
  font-family: Arial;
  font-weight: bold;
}

#fire{
  position: absolute;
  top: 425px;
  left: 870px;
  z-index: 1;
}

#fire-low{
  position: absolute;
  top: 475px;
  left: 890px;
  z-index: 1;
}

#fire-gif-low{
  height: 50px;
  width: 50px;
}

#fire-gif-med{
  height: 100px;
  width: 100px;
}

#seasoned-steak{
    z-index: 4;
    height: 190px;
    width: 230px;
}

#seasoned-steak:hover{
    cursor: pointer;
}


#seasoned-steak-img{
    height: 190px;
    width: 230px;
}

#flipped-seasoned-steak-img{
    height: 160px;
    width: 220px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#season-texture{
    position: absolute;
    top: 360px;
    left: 220px;
    z-index: 2;
}

#season-texture-img{
    height: 180px;
    width: 350px;
}

#thyme{
    position: absolute;
    top: 135px;
    left: 395px;
    z-index: 2;
}

#thyme-img{
    height: 30px;
    width: 80px;
}

#uncut-butter{
    position: absolute;
    top: 85px;
    left: 500px;
    z-index: 2;
}

#message {
    position: absolute;
    top: 60px;
    left: 400px;
    font-weight: bold;
    color: green;
}

#uncut-butter-img{
    height: 60px;
    width: 70px;
}

#uncut-garlic{
    position: absolute;
    top: 180px;
    left: 410px;
    z-index: 2;
}

#uncut-garlic-img{
    height: 40px;
    width: 50px;
}

#salt{
    position: absolute;
    top: 170px;
    left: 500px;
    z-index: 2;
}

#salt-img{
    height: 50px;
    width: 20px;
}

#pepper{
    position: absolute;
    top: 155px;
    left: 550px;
    z-index: 2;
}

#pepper-img{
    height: 55px;
    width: 35px;
}

#olive-oil{
    position: absolute;
    top: 110px;
    left: 605px;
    z-index: 2;
}
#olive-oil-img{
    height: 100px;
    width: 40px;
}


#knife{
    position: absolute;
    top: 370px;
    left: 50px;
    height: 100px;
    width: 100px;
    z-index: 3;
}

#arrow-next{
    position: absolute;
    bottom: 40px;
    right: 20px;
    height: 80px;
    width: 80px;
}
#arrow-next:hover{
    cursor: pointer;
}

.pop-up-style{
    position: absolute;
    top: 220px;
    left: 325px;
    height: 400px;
    width: 225px;
    background-color: #F8F8F8;
    border-style: solid;
    border-width: 2px;
    z-index: 5;
}

.ingredient .description{
    visibility: hidden;
    width: 70px;
    background-color: black;
    color: #F8F8F8;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.ingredient .description::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.ingredient:hover .description{
    visibility: visible;
}

#cutting-board{
    position: absolute;
    top: 350px;
    left: 200px;
    height: 200px;
    width: 400px;
    z-index: 1;
}

#empty-pan{
    position: absolute;
    top: 340px;
    left: 800px;
    height: 170px;
    width: 300px;
    z-index: 1;
}


#temperature{
    position: absolute;
    top: 520px;
    left: 860px;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border-style: solid;
    margin: 5px;
    display: inline-block;
}

#low{
    background-color: lightgreen;
}

#med{
    background-color: orange;
}

#high{
    background-color: red;
}

#temperature-labels{
    position: absolute;
    top: 550px;
    left: 862px;
}

.label{
    font-weight: bold;
    font-size: 13px;
    margin: 8px;
}

.shake{
    transform-origin: center center;
    animation: shake-base 2s ease-in-out;
}

@keyframes shake-base{
    0% {transform: translate(0px, 0px) rotate(0deg);}
    /* 2% {transform: translate(-6px, -6px) rotate(-10deg);}
    4% {transform: translate(1.5px, 0.5px) rotate(0.5deg);} */
    6% {transform: translate(1.5px, -0.5px) rotate(4deg);}
    /* 8% {transform: translate(-0.5px, 1.5px) rotate(-10deg);}
    10% {transform: translate(0.5px, 0.5px) rotate(0.5deg);} */
    12% {transform: translate(1.5px, -6px) rotate(-4deg);}
    /* 14% {transform: translate(1.5px, -0.5px) rotate(0.5deg);}
    16% {transform: translate(-1.5px, -6px) rotate(0.5deg);} */
    18% {transform: translate(0.5px, -6px) rotate(-4deg);}
    /* 20% {transform: translate(-6px, -6px) rotate(0.5deg);}
    22% {transform: translate(-0.5px, -1.5px) rotate(0.5deg);} */
    24% {transform: translate(-1.5px, -6px) rotate(-10deg);}
    /* 26% {transform: translate(-1.5px, 1.5px) rotate(-0.5deg);}
    28% {transform: translate(0.5px, 1.5px) rotate(-10deg);} */
    30% {transform: translate(-0.5px, 1.5px) rotate(4deg);}
    /* 32% {transform: translate(-1.5px, 0.5px) rotate(0.5deg);}
    34% {transform: translate(-6px, 1.5px) rotate(0.5deg);} */
    36% {transform: translate(-0.5px, -6px) rotate(-4deg);}
    /* 38% {transform: translate(0.5px, 1.5px) rotate(-2deg);}
    40% {transform: translate(1.5px, -1.5px) rotate(-0.5deg);} */
    42% {transform: translate(-0.5px, 0.5px) rotate(-4deg);}
    /* 44% {transform: translate(1.5px, 1.5px) rotate(0.5deg);}
    46% {transform: translate(0.5px, -1.5px) rotate(0.5deg);} */
    48% {transform: translate(-1.5px, 0.5px) rotate(-10deg);}
    /* 50% {transform: translate(-0.5px, -1.5px) rotate(-0.5deg);}
    52% {transform: translate(-0.5px, 1.5px) rotate(-0.5deg);} */
    54% {transform: translate(-1.5px, 1.5px) rotate(4deg);}
    /* 56% {transform: translate(-1.5px, -0.5px) rotate(-0.5deg);}
    58% {transform: translate(1.5px, 0.5px) rotate(-0.5deg);} */
    60% {transform: translate(1.5px, 0.5px) rotate(-4deg);}
    /* 62% {transform: translate(-1.5px, -1.5px) rotate(0.5deg);}
    64% {transform: translate(1.5px, 0.5px) rotate(-10deg);} */
    66% {transform: translate(1.5px, -0.5px) rotate(4deg);}
    /* 68% {transform: translate(0.5px, -6px) rotate(-10deg);}
    70% {transform: translate(0.5px, -6px) rotate(-10deg);} */
    72% {transform: translate(1.5px, -1.5px) rotate(4deg);}
    /* 74% {transform: translate(1.5px, -0.5px) rotate(0.5deg);}
    76% {transform: translate(1.5px, -1.5px) rotate(-0.5deg);} */
    78% {transform: translate(1.5px, -1.5px) rotate(-10deg);}
    /* 80% {transform: translate(-6px, -1.5px) rotate(-10deg);}
    82% {transform: translate(1.5px, -6px) rotate(-0.5deg);} */
    84% {transform: translate(1.5px, -6px) rotate(-4deg);}
    /* 86% {transform: translate(1.5px, 0.5px) rotate(0.5deg);}
    88% {transform: translate(-6px, 0.5px) rotate(-10deg);} */
    90% {transform: translate(0.5px, 1.5px) rotate(4deg);}
    /* 92% {transform: translate(-1.5px, 1.5px) rotate(0.5deg);}
    94% {transform: translate(-0.5px, 0.5px) rotate(-10deg);} */
    96% {transform: translate(1.5px, -6px) rotate(1deg);}
    /* 98% {transform: translate(-6px, -0.5px) rotate(-2deg);} */
}

#flip-box{
    top: 350px;
    left: 290px;
    width: 10%;
    height: 80%;
    transition: 1s;
    transform-style: preserve-3d;
    position: absolute;
    z-index: 3;
}
