#instruction{
  position: absolute;
  top: 110px;
  left: 50px;
  font-family: Arial;
  font-size: 18px;
}

#timer{
  position: absolute;
  top: 100px;
  left: 900px;
  background-color: #f8f8f8;
  padding: 10px;
  border: solid;
  font-size: 20px;
}

#timer-label{
  position: absolute;
  top: 75px;
  left: 900px;
  color: red;
  font-size: 15px;
  font-family: Arial;
  font-weight: bold;
}

#raw-steak{
  position: absolute;
  top: 390px;
  left: 290px;
  z-index: 2;
}

#raw-steak-img{
  height: 190px;
  width: 230px;
}

#thyme{
  position: absolute;
  top: 135px;
  left: 395px;
  z-index: 4;
}

#thyme-img{
  height: 30px;
  width: 80px;
}

#salt{
  position: absolute;
  top: 170px;
  left: 500px;
  z-index: 2;
}

#salt-img{
  height: 50px;
  width: 20px;
}

#pepper{
  position: absolute;
  top: 155px;
  left: 550px;
  z-index: 2;
}

#pepper-img{
  height: 55px;
  width: 35px;
}

#olive-oil{
  position: absolute;
  top: 110px;
  left: 605px;
  z-index: 2;
}

#olive-oil-img{
  height: 100px;
  width: 40px;
}

#knife{
  position: absolute;
  top: 370px;
  left: 50px;
  height: 100px;
  width: 100px;
  z-index: 3;
}

#knife:hover{
  cursor: pointer;
}

.ingredient:hover{
  cursor: pointer;
}

.ingredient .description{
  visibility: hidden;
  width: 70px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.ingredient .description::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.ingredient:hover .description{
  visibility: visible;
}

#cutting-board{
  position: absolute;
  top: 380px;
  left: 200px;
  height: 200px;
  width: 400px;
  z-index: 1;
}

#empty-pan{
  position: absolute;
  top: 340px;
  left: 800px;
  height: 170px;
  width: 300px;
  z-index: 1;
}

#temperature{
  position: absolute;
  top: 520px;
  left: 860px;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border-style: solid;
  margin: 5px;
  display: inline-block;
}

#low{
  background-color: lightgreen;
}
#low:hover{
  cursor: pointer;
}

#med{
  background-color: orange;
}

#med:hover{
  cursor: pointer;
}

#high{
  background-color: red;
}

#high:hover{
  cursor: pointer;
}

#temperature-labels{
  position: absolute;
  top: 545px;
  left: 861px;
}

.label{
  font-weight: bold;
  font-size: 12px;
  margin: 6px;
}

.popup-style{
  position: absolute;
  top: 270px;
  left: 310px;
  height: 400px;
  width: 675px;
  background-color: ivory;
  border-style: solid;
  border-width: 2px;
  z-index: 5;
}

#cutting-board-small{
  position: absolute;
  top: 100px;
  left: 130px;
  height: 250px;
  width: 450px;
  z-index: 6;
}

#ingredients-label{
  position: relative;
  top: 15px;
  left: 250px;
  font-family: Arial;
  color: red;
  font-size: 15px;
  font-weight: bold;
}

#arrow-next{
  position: absolute;
  bottom: 40px;
  right: 20px;
  height: 80px;
  width: 80px;
}

#arrow-next:hover{
  cursor: pointer;
}

.arrow-salt-style{
  position: absolute;
  top: 410px;
  left: 250px;
  height: 16px;
  width: 150px;
  transform: rotate(200deg);
  z-index: 9;
}

.arrow-pepper-style{
  position: absolute;
  top: 430px;
  left: 210px;
  height: 16px;
  width: 150px;
  transform: rotate(200deg);
  z-index: 9;
}

#fire{
  position: absolute;
  top: 425px;
  left: 870px;
  z-index: 1;
}

#fire-low{
  position: absolute;
  top: 475px;
  left: 890px;
  z-index: 1;
}

#fire-gif-low{
  height: 50px;
  width: 50px;
}

#fire-gif-med{
  height: 100px;
  width: 100px;
}

#cut-butter{
  position: absolute;
  top: 85px;
  left: 500px;
  z-index: 4;
}

#cut-butter-img{
  height: 60px;
  width: 70px;
}

#cut-garlic{
  position: absolute;
  top: 180px;
  left: 410px;
  z-index: 4;
}

#cut-garlic-img{
  height: 40px;
  width: 50px;
}

#seasoned-steak-img{
  height: 190px;
  width: 230px;
}

#season-texture-img{
  position: relative;
  top: -10px;
  left: -300px;
  height: 200px;
  width: 350px;
  z-index: 5;
}

.arrow-thyme-style{
  position: absolute;
  top: 265px;
  left: 440px;
  height: 15px;
  width: 420px;
  transform: rotate(215deg);
  z-index: 9;
}

.arrow-garlic-style{
  position: absolute;
  top: 320px;
  left: 420px;
  height: 15px;
  width: 420px;
  transform: rotate(215deg);
  z-index: 9;
}

.arrow-butter-style{
  position: absolute;
  top: 250px;
  left: 510px;
  height: 15px;
  width: 420px;
  transform: rotate(215deg);
  z-index: 9;
}

#smoke{
  position: absolute;
  top: 375px;
  left: 785px;
  z-index: 2;
}

#smoke-img{
  height: 150px;
  width: 275px;
  opacity: 50%;
}

#cooked-steak{
  position: absolute;
  top: 385px;
  left: 835px;
  z-index: 3;
}

#cooked-steak-img{
  height: 110px;
  width: 160px;
}

#thyme-on-pan{
  position: absolute;
  top: 400px;
  left: 870px;
  z-index: 4;
}

#garlic-on-pan{
  position: absolute;
  top: 420px;
  left: 815px;
  z-index: 4;
}

#butter-on-pan{
  position: absolute;
  top: 440px;
  left: 850px;
  z-index: 4;
}

#message{
  position: absolute;
  top: 60px;
  left: 400px;
  font-weight: bold;
  color: green;
}

  #hints{
    position: absolute;
    top: 100px;
    left: 40px;
    padding: 10px;
    border-radius: 6px;
    background-color: #2E7CF6;
    color: white;
    cursor: pointer;
    display: none;
  }
