{% extends "layout.html" %}

{% block content %}

<script>

let ingredients = {{ingredients|tojson}}
let utensils = {{utensils|tojson}}
let actions = {{actions|tojson}}
let instruction= {{instruction|tojson}}
let stat= {{stat|tojson}}

let incorrect = {{incorrect|tojson}}
</script>


 <link rel="stylesheet" href="{{url_for('static', filename='game_0.css')}}">

 <script type="text/javascript" src="{{ url_for('static', filename = 'game_0.js') }}"></script>

 <div class="ingredient" id="frozen-steak">
     <img id="frozen-steak-img" src={{ingredients["steak"]["frozen"]["image"]}} alt={{ingredients["steak"]["frozen"]["description"]}}> </img>
     <span class="description">{{ingredients["steak"]["frozen"]["description"]}}</span>
 </div>

  <div class="ingredient" id="thyme">
      <img id="thyme-img" src={{ingredients["thyme"]["image"]}} alt={{ingredients["thyme"]["description"]}}> </img>
      <span class="description">{{ingredients["thyme"]["description"]}}</span>
  </div>
  <div class="ingredient" id="uncut-butter">
      <img id="uncut-butter-img" src={{ingredients["butter"]["uncut"]["image"]}} alt={{ingredients["butter"]["uncut"]["description"]}}> </img>
      <span class="description">{{ingredients["butter"]["uncut"]["description"]}}</span>
  </div>
  <div class="ingredient" id="uncut-garlic">
      <img id="uncut-garlic-img" src={{ingredients["garlic"]["uncut"]["image"]}} alt={{ingredients["garlic"]["uncut"]["description"]}}> </img>
      <span class="description">{{ingredients["garlic"]["uncut"]["description"]}}</span>
  </div>
  <div class="ingredient" id="salt">
      <img id="salt-img" src={{ingredients["salt"]["image"]}} alt={{ingredients["salt"]["description"]}}> </img>
      <span class="description">{{ingredients["salt"]["description"]}}</span>
  </div>
  <div class="ingredient" id="pepper">
      <img id="pepper-img" src={{ingredients["pepper"]["image"]}} alt={{ingredients["pepper"]["description"]}}> </img>
      <span class="description">{{ingredients["pepper"]["description"]}}</span>
  </div>
  <div class="ingredient" id="olive-oil">
      <img id="olive-oil-img" src={{ingredients["olive-oil"]["image"]}} alt={{ingredients["olive-oil"]["description"]}}> </img>
      <span class="description">{{ingredients["olive-oil"]["description"]}}</span>
  </div>




  <div class="incorrect" id="broccoli">
      <img id="broccoli-img" src={{incorrect["broccoli"]["image"]}} alt={{incorrect["broccoli"]["description"]}}> </img>
      <span class="description">{{incorrect["broccoli"]["description"]}}</span>
  </div>

  <div class="incorrect" id="chicken">
      <img id="chicken-img" src={{incorrect["chicken"]["image"]}} alt={{incorrect["chicken"]["description"]}}> </img>
      <span class="description">{{incorrect["chicken"]["description"]}}</span>
  </div>

  <div class="incorrect" id="chili">
      <img id="chili-img" src={{incorrect["chili"]["image"]}} alt={{incorrect["chili"]["description"]}}> </img>
      <span class="description">{{incorrect["chili"]["description"]}}</span>
  </div>

  <div class="incorrect" id="chili-powder">
      <img id="chili-powder-img" src={{incorrect["chili-powder"]["image"]}} alt={{incorrect["chili-powder"]["description"]}}> </img>
      <span class="description">{{incorrect["chili-powder"]["description"]}}</span>
  </div>

  <div class="incorrect" id="garlic-powder">
      <img id="garlic-powder-img" src={{incorrect["garlic-powder"]["image"]}} alt={{incorrect["garlic-powder"]["description"]}}> </img>
      <span class="description">{{incorrect["garlic-powder"]["description"]}}</span>
  </div>

  <div class="incorrect" id="onion">
      <img id="onion-img" src={{incorrect["onion"]["image"]}} alt={{incorrect["onion"]["description"]}}> </img>
      <span class="description">{{incorrect["onion"]["description"]}}</span>
  </div>


  <div id="instruction"> {{instruction["description"]}}</div>

  <img src={{utensils["cutting-board"]["image"]}} alt={{utensils["cutting-board"]["description"]}} id="cutting-board"> </img>

  <div id="ingredients-label"></div>

  <img id="cross" src={{actions["cross"]["image"]}} alt={{actions["cross"]["description"]}}> </img>


  <img id="arrow-next" src={{actions["arrow"]["next"]["image"]}} alt={{actions["arrow"]["next"]["description"]}}> </img>



{% endblock %}
