{% extends "layout.html" %}

{% block content %}

<script>



  let ingredients = {{ingredients|tojson}}
  let utensils = {{utensils|tojson}}
  let actions = {{actions|tojson}}
  let stat= {{stat|tojson}}
  let instruction= {{instruction|tojson}}

  console.log("instruction: ", instruction["description"])


</script>

 <link rel="stylesheet" href="{{url_for('static', filename='game_5.css')}}">

 <script type="text/javascript" src="{{ url_for('static', filename = 'game_5.js') }}"></script>


 <div class="ingredient" id="seasoned-steak">
  <img id="seasoned-steak-img" src={{ingredients["steak"]["seasoned"]["image"]}} alt={{ingredients["steak"]["seasoned"]["description"]}}> </img>
  <span class="description">{{ingredients["steak"]["seasoned"]["description"]}}</span>
 </div>

 <div class="ingredient" id="cooked-steak">
  <img id="cooked-steak-img" src={{ingredients["steak"]["cooked"]["image"]}} alt={{ingredients["steak"]["cooked"]["description"]}}> </img>
  <span class="description">{{ingredients["steak"]["cooked"]["description"]}}</span>
 </div>

 <div class="ingredient" id="thyme">
     <img id="thyme-img" src={{ingredients["thyme"]["image"]}} alt={{ingredients["thyme"]["description"]}}> </img>
     <span class="description">{{ingredients["thyme"]["description"]}}</span>
 </div>
 <div class="ingredient" id="cut-butter">
     <img id="cut-butter-img" src={{ingredients["butter"]["cut"]["image"]}} alt={{ingredients["butter"]["cut"]["description"]}}> </img>
     <span class="description">{{ingredients["butter"]["cut"]["description"]}}</span>
 </div>
 <div class="ingredient" id="cut-garlic">
     <img id="cut-garlic-img" src={{ingredients["garlic"]["cut"]["image"]}} alt={{ingredients["garlic"]["cut"]["description"]}}> </img>
     <span class="description">{{ingredients["garlic"]["cut"]["description"]}}</span>
 </div>
 <div class="ingredient" id="salt">
     <img id="salt-img" src={{ingredients["salt"]["image"]}} alt={{ingredients["salt"]["description"]}}> </img>
     <span class="description">{{ingredients["salt"]["description"]}}</span>
 </div>
 <div class="ingredient" id="pepper">
     <img id="pepper-img" src={{ingredients["pepper"]["image"]}} alt={{ingredients["pepper"]["description"]}}> </img>
     <span class="description">{{ingredients["pepper"]["description"]}}</span>
 </div>
 <div class="ingredient" id="olive-oil">
     <img id="olive-oil-img" src={{ingredients["olive-oil"]["image"]}} alt={{ingredients["olive-oil"]["description"]}}> </img>
     <span class="description">{{ingredients["olive-oil"]["description"]}}</span>
 </div>
 <div class = "ingredient" id = "olive-oil-tilted"> 

 </div>

 <div id = pan>
  <img src={{utensils["pan"]["empty"]["image"]}} alt={{utensils["pan"]["empty"]["description"]}} id="empty-pan"> </img>
 </div>

 <div id="arrowUpdates"> </div>

 <div id = "pan-2"> 
  <img src={{utensils["pan"]["oiled"]["image"]}} alt={{utensils["pan"]["oiled"]["description"]}} id="oiled-pan"> </img>
</div> 



 <div class="ingredient" id="cut-butter">
 </div>
 <div class="ingredient" id="cut-garlic">

 </div>

 <div class="action" id="fire">
  <img id="fire-img" src={{actions["fire"]["image"]}} alt={{actions["fire"]["description"]}}> </img>
</div>

<div class="action" id="smoke">
  <img id="smoke-img" src={{actions["smoke"]["image"]}} alt={{actions["smoke"]["description"]}}> </img>
</div>



 <!-- <img id="arrow-steak" src={{actions["fire"]["image"]}} > </img> -->


 <div id="arrow-butter"> </div>
 <div id="arrow-garlic"> </div>

 <div id="popup-arrow-butter"> </div>
 <div id="popup-arrow-garlic"> </div>

 <div id="timer">
   00:00:00
 </div>
 <div id="timer-label"></div>
 <div id="message"></div>


 <div id="instruction"> </div>
 <div id="hints"> Take Hint ({{stat["hints"]}})</div>



 <img id="knife" src={{utensils["knife"]["image"]}} alt={{utensils["knife"]["description"]}}> </img>

 <div id="raw-steak"></div>


 <img src={{utensils["cutting-board"]["image"]}} alt={{utensils["cutting-board"]["description"]}} id="cutting-board"> </img>


 <div id="temperature">
 <span class="dot" id="low"></span>
 <span class="dot" id="med"></span>
 <span class="dot" id="high"></span>
 </div>
 <div id="temperature-labels">
 <span class="label">low</span>
 <span class="label">med</span>
 <span class="label">high</span>
 </div>

 <div id="ingredients-label"></div>


 <div id="popup"> </div>

 <img id="arrow-next" src={{actions["arrow"]["next"]["image"]}} alt={{actions["arrow"]["next"]["description"]}}> </img>


 <div class = alert id = "alert-near-pan">  </div>
 <div class = alert id = "alert-near-timer">  </div>

 


{% endblock %}


