{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='game.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename = 'game.js') }}"></script>


<script>

  let img = {{img|tojson}}


</script>

<div id="container">
  <span id="upper_title"> COOK THE PERFECT STEAK </span>
  <span id="lower_title"> with Gordon Ramsay </span>
  <span id="game_instruction"> By replicating the previous animation from <b> Learn</b></span>
<img id="chef" src={{img["chef"]["ramsay"]["image"]}} alt={{img["chef"]["ramsay"]["description"]}}> </img>

</div>

<button type="button" id="start_game" class="btn btn-primary">START GAME</button>



{% endblock %}
