{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='game.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename = 'game.js') }}"></script>


<script>

  let img = {{img|tojson}}


</script>

<div id="container">
  <span id="upper_title"> COOK THE PERFECT STEAK </span>
  <span id="lower_title"> with Gordon Ramsay </span>
  <span id="game_instruction"> Replicate the previous animation from <b> Learn</b>. <br> You have <b>3 hints</b> avaliable.</span>
<img id="ramsay" src={{img["ramsay"]["image"]}} alt={{img["ramsay"]["description"]}}> </img>

</div>

<button type="button" id="start_game">START GAME</button>



{% endblock %}
