{% extends "layout.html" %}

{% block content %}

<script>

let ingredients = {{ingredients|tojson}}
let utensils = {{utensils|tojson}}
let actions = {{actions|tojson}}
let instruction = {{instruction|tojson}}

</script>

<link rel="stylesheet" href="{{url_for('static', filename='learn_4.css')}}">

<script type="text/javascript" src="{{ url_for('static', filename = 'learn_4.js') }}"></script>

<div id="flip-box">
  <!-- <div class="ingredient" id="seasoned-steak">
      <img id="seasoned-steak-img" src="images/seasoned-steak.png" alt="Seasoned Steak"> </img>
      <span class="description">Seasoned Steak</span>
  </div> -->
  <div class="ingredient" id="seasoned-steak">
      <img id="seasoned-steak-img" src={{ingredients["steak"]["seasoned"]["image"]}} alt={{ingredients["steak"]["seasoned"]["description"]}}> </img>
      <span class="description">{{ingredients["steak"]["seasoned"]["description"]}}</span>
  </div>
</div>

<div id="message"></div>


<!-- <div class="ingredient" id="seasoned-steak">
    <img id="seasoned-steak-img" src="images/seasoned-steak.png" alt="Seasoned Steak"> </img>
    <span class="description">Seasoned Steak</span>
</div> -->
<div class="ingredient" id="season-texture">
    <img id="season-texture-img" src={{actions["season"]["image"]}} alt={{actions["season"]["description"]}}> </img>
    <span class="description">{{actions["season"]["description"]}}</span>
</div>
<!-- <div class="ingredient" id="frozen-steak">
    <img id="frozen-steak-img" src="images/frozen-steak.png" alt="Frozen Steak"> </img>
    <span class="description">Steak</span>
</div> -->
<div class="ingredient" id="thyme">
    <img id="thyme-img" src={{ingredients["thyme"]["image"]}} alt={{ingredients["thyme"]["description"]}}> </img>
    <span class={{ingredients["thyme"]["description"]}}></span>
</div>
<div class="ingredient" id="uncut-butter">
    <img id="uncut-butter-img" src={{ingredients["butter"]["cut"]["image"]}} alt={{ingredients["butter"]["cut"]["description"]}}> </img>
    <span class="description">{{ingredients["butter"]["cut"]["description"]}}</span>
</div>
<div class="ingredient" id="uncut-garlic">
    <img id="uncut-garlic-img" src={{ingredients["garlic"]["cut"]["image"]}} alt={{ingredients["garlic"]["cut"]["description"]}}> </img>
    <span class="description">{{ingredients["garlic"]["cut"]["description"]}}</span>
</div>
<div class="ingredient" id="salt">
    <img id="salt-img" src={{ingredients["salt"]["image"]}} alt={{ingredients["salt"]["description"]}}> </img>
    <span class="description">{{ingredients["salt"]["description"]}}</span>
</div>
<div class="ingredient" id="pepper">
    <img id="pepper-img" src={{ingredients["pepper"]["image"]}} alt={{ingredients["pepper"]["description"]}}> </img>
    <span class="description">{{ingredients["pepper"]["description"]}}</span>
</div>
<div class="ingredient" id="olive-oil">
    <img id="olive-oil-img" src={{ingredients["olive-oil"]["image"]}} alt={{ingredients["olive-oil"]["description"]}}> </img>
    <span class="description">{{ingredients["olive-oil"]["description"]}}</span>
</div>

<div id="timer">
  00:00:00
</div>
<div id="timer-label"></div>


<div id="instruction"> </div>

<img id="knife" src={{utensils["knife"]["image"]}} alt={{utensils["knife"]["description"]}}> </img>

<div id="text"></div>

<img src={{utensils["cutting-board"]["image"]}} alt={{utensils["cutting-board"]["description"]}} id="cutting-board"> </img>
<img src={{utensils["pan"]["empty"]["image"]}} alt={{utensils["pan"]["empty"]["description"]}} id="empty-pan"> </img>


<div id="fire"></div>

<div id="temperature">
<span class="dot" id="low"></span>
<span class="dot" id="med"></span>
<span class="dot" id="high"></span>
</div>
<div id="temperature-labels">
<span class="label">low</span>
<span class="label">med</span>
<span class="label">high</span>
</div>

<div id="pop-up"> </div>

<img id="arrow-next" src={{actions["arrow"]["next"]["image"]}} alt={{actions["arrow"]["next"]["description"]}}> </img>


</body>
{% endblock %}
